@{

	// View
	View = this;
	SetClientVar("login", LoginStatus);

	// Global Page Rendering event
	Page_Rendering();

	// Page Render event
	ApplicationStatus_Edit.Page_Render();

	// Check action result
	if (ApplicationStatus_Edit.ActionResult is EmptyResult) { // Terminate page
		return;
	}

	// Layout
	Layout = "_Layout";

	// Local variables (Temp data)
	#pragma warning disable 168
	string sqlWrk, filterWrk, whereWrk, curVal;
	List<Dictionary<string, object>> rswrk;
	string[] arWrk;
	List<object> listWrk;
	Func<string> lookupFilter;
	#pragma warning restore 168
}
<script>
var fApplicationStatusedit, currentPageID;
loadjs.ready("head", function() {

	// Form object
	currentPageID = ew.PAGE_ID = "edit";
	fApplicationStatusedit = currentForm = new ew.Form("fApplicationStatusedit", "edit");

	// Validate form
	fApplicationStatusedit.validate = function() {
		if (!this.validateRequired)
			return true; // Ignore validation
		var $ = jQuery, fobj = this.getForm(), $fobj = $(fobj);
		if ($fobj.find("#confirm").val() == "confirm")
			return true;
		var elm, felm, uelm, addcnt = 0;
		var $k = $fobj.find("#" + this.formKeyCountName); // Get key_count
		var rowcnt = ($k[0]) ? parseInt($k.val(), 10) : 1;
		var startcnt = (rowcnt == 0) ? 0 : 1; // Check rowcnt == 0 => Inline-Add
		var gridinsert = ["insert", "gridinsert"].includes($fobj.find("#action").val()) && $k[0];
		for (var i = startcnt; i <= rowcnt; i++) {
			var infix = ($k[0]) ? String(i) : "";
			$fobj.data("rowindex", infix);
			@if (ApplicationStatus_Edit.Id.Required) {
				<text>
				elm = this.getElements("x" + infix + "_Id");
				if (elm && !ew.isHidden(elm) && !ew.hasValue(elm))
					return this.onError(elm, "@Html.Raw(JsEncode(Convert.ToString(ApplicationStatus_Edit.Id.RequiredErrorMessage).Replace("%s", ApplicationStatus_Edit.Id.Caption)))");
				</text>
			}
				elm = this.getElements("x" + infix + "_Id");
				if (elm && !ew.checkInteger(elm.value))
					return this.onError(elm, "@(JsEncode(ApplicationStatus_Edit.Id.ErrorMessage))");
			@if (ApplicationStatus_Edit.DisplayName.Required) {
				<text>
				elm = this.getElements("x" + infix + "_DisplayName");
				if (elm && !ew.isHidden(elm) && !ew.hasValue(elm))
					return this.onError(elm, "@Html.Raw(JsEncode(Convert.ToString(ApplicationStatus_Edit.DisplayName.RequiredErrorMessage).Replace("%s", ApplicationStatus_Edit.DisplayName.Caption)))");
				</text>
			}

				// Call Form_CustomValidate event
				if (!this.Form_CustomValidate(fobj))
					return false;
		}

		// Process detail forms
		var dfs = $fobj.find("input[name='detailpage']").get();
		for (var i = 0; i < dfs.length; i++) {
			var df = dfs[i], val = df.value;
			if (val && ew.forms[val])
				if (!ew.forms[val].validate())
					return false;
		}
		return true;
	}

	// Form_CustomValidate
	fApplicationStatusedit.Form_CustomValidate = function(fobj) { // DO NOT CHANGE THIS LINE!

		// Your custom validation code here, return false if invalid.
		return true;
	}

	// Use JavaScript validation or not
	fApplicationStatusedit.validateRequired = @(Config.ClientValidate ? "true" : "false");

	// Dynamic selection lists
	loadjs.done("fApplicationStatusedit");
});
</script>
<script>
loadjs.ready("head", function() {

	// Client script
	// Write your client script here, no need to add script tags.

});
</script>
@ApplicationStatus_Edit.ShowPageHeader()
@ApplicationStatus_Edit.ShowMessages()
<form name="fApplicationStatusedit" id="fApplicationStatusedit" class="@(ApplicationStatus_Edit.FormClassName)" action="@AppPath(CurrentPageName())" method="post">
@if (ApplicationStatus_Edit.CheckToken) {
	@Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
@if (ApplicationStatus_Edit.IsModal) {
<input type="hidden" name="modal" value="@ConvertToInt(ApplicationStatus_Edit.IsModal)">
}
<div class="ew-edit-div"><!-- page* -->
@if (ApplicationStatus_Edit.Id.Visible) { // ApplicationStatus_Edit.Id.Visible (begin)
	<div id="r_Id" class="form-group row">
		<label id="elh_ApplicationStatus_Id" for="x_Id" class="@(ApplicationStatus_Edit.LeftColumnClass)">@Html.Raw(ApplicationStatus_Edit.Id.Caption)@Html.Raw(ApplicationStatus_Edit.Id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
		<div class="@(ApplicationStatus_Edit.RightColumnClass)"><div @Html.Raw(ApplicationStatus_Edit.Id.CellAttributes)>
<input type="text" data-table="ApplicationStatus" data-field="x_Id" name="x_Id" id="x_Id" size="30" maxlength="4" placeholder="@Html.Raw(HtmlEncode(ApplicationStatus_Edit.Id.PlaceHolder))" value="@(ApplicationStatus_Edit.Id.EditValue)" @Html.Raw(ApplicationStatus_Edit.Id.EditAttributes)>
<input type="hidden" data-table="ApplicationStatus" data-field="x_Id" name="o_Id" id="o_Id" value="@Html.Raw(HtmlEncode(ApplicationStatus_Edit.Id.OldValue != null ? ApplicationStatus_Edit.Id.OldValue : ApplicationStatus_Edit.Id.CurrentValue))">
@Html.Raw(ApplicationStatus_Edit.Id.CustomMsg)</div></div>
	</div>
} @* ApplicationStatus_Edit.Id.Visible (end) *@
@if (ApplicationStatus_Edit.DisplayName.Visible) { // ApplicationStatus_Edit.DisplayName.Visible (begin)
	<div id="r_DisplayName" class="form-group row">
		<label id="elh_ApplicationStatus_DisplayName" for="x_DisplayName" class="@(ApplicationStatus_Edit.LeftColumnClass)">@Html.Raw(ApplicationStatus_Edit.DisplayName.Caption)@Html.Raw(ApplicationStatus_Edit.DisplayName.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
		<div class="@(ApplicationStatus_Edit.RightColumnClass)"><div @Html.Raw(ApplicationStatus_Edit.DisplayName.CellAttributes)>
<span id="el_ApplicationStatus_DisplayName">
<input type="text" data-table="ApplicationStatus" data-field="x_DisplayName" name="x_DisplayName" id="x_DisplayName" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(ApplicationStatus_Edit.DisplayName.PlaceHolder))" value="@(ApplicationStatus_Edit.DisplayName.EditValue)" @Html.Raw(ApplicationStatus_Edit.DisplayName.EditAttributes)>
</span>
@Html.Raw(ApplicationStatus_Edit.DisplayName.CustomMsg)</div></div>
	</div>
} @* ApplicationStatus_Edit.DisplayName.Visible (end) *@
</div><!-- /page* -->
@{ ApplicationStatus_Edit.CloseRecordset(); }
@if (!ApplicationStatus_Edit.IsModal) {
@:<div class="form-group row"><!-- buttons .form-group -->
	@:<div class="@(ApplicationStatus_Edit.OffsetColumnClass)"><!-- buttons offset -->
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(ApplicationStatus_Edit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
	@:</div><!-- /buttons offset -->
@:</div><!-- /buttons .form-group -->
}
</form>
@ApplicationStatus_Edit.ShowPageFooter()
@ShowDebugMessage()
@ElapsedTime()
<script>
loadjs.ready("load", function() {

	// Startup script
	// Write your table-specific startup script here
	// document.write("page loaded");

});
</script>