@{

	// View
	View = this;
	SetClientVar("login", LoginStatus);

	// Global Page Rendering event
	Page_Rendering();

	// Page Render event
	BankBranch_Delete.Page_Render();

	// Check action result
	if (BankBranch_Delete.ActionResult is EmptyResult) { // Terminate page
		return;
	}

	// Layout
	Layout = "_Layout";

	// Local variables (Temp data)
	#pragma warning disable 168
	string sqlWrk, filterWrk, whereWrk, curVal;
	List<Dictionary<string, object>> rswrk;
	string[] arWrk;
	List<object> listWrk;
	Func<string> lookupFilter;
	#pragma warning restore 168
}
<script>
var fBankBranchdelete, currentPageID;
loadjs.ready("head", function() {

	// Form object
	currentPageID = ew.PAGE_ID = "delete";
	fBankBranchdelete = currentForm = new ew.Form("fBankBranchdelete", "delete");
	loadjs.done("fBankBranchdelete");
});
</script>
<script>
loadjs.ready("head", function() {

	// Client script
	// Write your client script here, no need to add script tags.

});
</script>
@BankBranch_Delete.ShowPageHeader()
@BankBranch_Delete.ShowMessages()
<form name="fBankBranchdelete" id="fBankBranchdelete" class="form-inline ew-form ew-delete-form" action="@AppPath(CurrentPageName())" method="post">
@if (BankBranch_Delete.CheckToken) {
	@Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="delete">
@foreach (string key in BankBranch_Delete.RecordKeys) {
<input type="hidden" name="key_m[]" value="@key">
}
<div class="card ew-card ew-grid">
<div class="@ResponsiveTableClass() card-body ew-grid-middle-panel">
<table class="table ew-table">
	<thead>
	<tr class="ew-table-header">
@if (BankBranch_Delete.Id.Visible) { // BankBranch_Delete.Id.Visible (begin)
		<th class="@Html.Raw(BankBranch_Delete.Id.HeaderCellClass)"><span id="elh_BankBranch_Id" class="BankBranch_Id">@Html.Raw(BankBranch_Delete.Id.Caption)</span></th>
} @* BankBranch_Delete.Id.Visible (end) *@
@if (BankBranch_Delete._Name.Visible) { // BankBranch_Delete._Name.Visible (begin)
		<th class="@Html.Raw(BankBranch_Delete._Name.HeaderCellClass)"><span id="elh_BankBranch__Name" class="BankBranch__Name">@Html.Raw(BankBranch_Delete._Name.Caption)</span></th>
} @* BankBranch_Delete._Name.Visible (end) *@
	</tr>
	</thead>
	<tbody>
@{ BankBranch_Delete.RecordCount = 0; }
@while (BankBranch_Delete.Recordset != null && await BankBranch_Delete.Recordset.ReadAsync()) { // DN
	BankBranch_Delete.RecordCount++;
	BankBranch_Delete.RowCount++;

	// Set row properties
	BankBranch_Delete.ResetAttributes();
	BankBranch_Delete.RowType = Config.RowTypeView; // View

	// Get the field contents
	await BankBranch_Delete.LoadRowValues(BankBranch_Delete.Recordset);

	// Render row
	await BankBranch_Delete.RenderRow();
	<tr @Html.Raw(BankBranch.RowAttributes)>
@if (BankBranch_Delete.Id.Visible) { // BankBranch_Delete.Id.Visible (begin)
		<td @Html.Raw(BankBranch_Delete.Id.CellAttributes)>
<span id="el@(BankBranch_Delete.RowCount)_BankBranch_Id" class="BankBranch_Id">
<span @Html.Raw(BankBranch_Delete.Id.ViewAttributes)>@Html.Raw(BankBranch_Delete.Id.GetViewValue())</span>
</span>
</td>
} @* BankBranch_Delete.Id.Visible (end) *@
@if (BankBranch_Delete._Name.Visible) { // BankBranch_Delete._Name.Visible (begin)
		<td @Html.Raw(BankBranch_Delete._Name.CellAttributes)>
<span id="el@(BankBranch_Delete.RowCount)_BankBranch__Name" class="BankBranch__Name">
<span @Html.Raw(BankBranch_Delete._Name.ViewAttributes)>@Html.Raw(BankBranch_Delete._Name.GetViewValue())</span>
</span>
</td>
} @* BankBranch_Delete._Name.Visible (end) *@
	</tr>
}
@{ BankBranch_Delete.CloseRecordset(); }
</tbody>
</table>
</div>
</div>
<div>
<button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
<button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-href="@AppPath(BankBranch_Delete.ReturnUrl)">@Language.Phrase("CancelBtn")</button>
</div>
</form>
@BankBranch_Delete.ShowPageFooter()
@ShowDebugMessage()
@ElapsedTime()
<script>
loadjs.ready("load", function() {

	// Startup script
	// Write your table-specific startup script here
	// document.write("page loaded");

});
</script>