@{

	// View
	View = this;
	SetClientVar("login", LoginStatus);

	// Global Page Rendering event
	Page_Rendering();

	// Page Render event
	BankBranch_List.Page_Render();

	// Check action result
	if (BankBranch_List.ActionResult is EmptyResult) { // Terminate page
		return;
	}

	// Layout
	Layout = "_Layout";

	// Local variables (Temp data)
	#pragma warning disable 168
	string sqlWrk, filterWrk, whereWrk, curVal;
	List<Dictionary<string, object>> rswrk;
	string[] arWrk;
	List<object> listWrk;
	Func<string> lookupFilter;
	#pragma warning restore 168
}
@if (!BankBranch_List.IsExport()) {
<script>
var fBankBranchlist, currentPageID;
loadjs.ready("head", function() {

	// Form object
	currentPageID = ew.PAGE_ID = "list";
	fBankBranchlist = currentForm = new ew.Form("fBankBranchlist", "list");
	fBankBranchlist.formKeyCountName = '@(BankBranch_List.FormKeyCountName)';
	loadjs.done("fBankBranchlist");
});
var fBankBranchlistsrch;
loadjs.ready("head", function() {

	// Form object for search
	fBankBranchlistsrch = currentSearchForm = new ew.Form("fBankBranchlistsrch");

	// Dynamic selection lists
	// Filters

	fBankBranchlistsrch.filterList = @Html.Raw(await BankBranch_List.GetFilterList());
	loadjs.done("fBankBranchlistsrch");
});
</script>
<script>
loadjs.ready("head", function() {

	// Client script
	// Write your client script here, no need to add script tags.

});
</script>
}
@if (!BankBranch_List.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (BankBranch_List.TotalRecords > 0 && BankBranch_List.ExportOptions.Visible) {
	BankBranch_List.ExportOptions.Render("body");
}
@if (BankBranch_List.ImportOptions.Visible) {
	BankBranch_List.ImportOptions.Render("body");
}
@if (BankBranch_List.SearchOptions.Visible) {
	BankBranch_List.SearchOptions.Render("body");
}
@if (BankBranch_List.FilterOptions.Visible) {
	BankBranch_List.FilterOptions.Render("body");
}
<div class="clearfix"></div>
</div>
}
@{ BankBranch_List.RenderOtherOptions(); }
@if (!BankBranch_List.IsExport() && Empty(BankBranch.CurrentAction)) { @* Show search form (begin) *@
<form name="fBankBranchlistsrch" id="fBankBranchlistsrch" class="form-inline ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())">
<div id="fBankBranchlistsrch-search-panel" class="@(BankBranch_List.SearchPanelClass)"><!-- .ew-search-panel -->
<input type="hidden" name="cmd" value="search">
	<div class="ew-extended-search">
<div id="xsr_@(BankBranch_List.SearchRowCount + 1)" class="ew-row d-sm-flex">
	<div class="ew-quick-search input-group">
		<input type="text" name="@(Config.TableBasicSearch)" id="@(Config.TableBasicSearch)" class="form-control" value="@Html.Raw(HtmlEncode(BankBranch_List.BasicSearch.SessionKeyword))" placeholder="@(HtmlEncode(Language.Phrase("Search")))">
		<input type="hidden" name="@(Config.TableBasicSearchType)" id="@(Config.TableBasicSearchType)" value="@(HtmlEncode(BankBranch_List.BasicSearch.SessionType))">
		<div class="input-group-append">
			<button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
			<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false"><span id="searchtype">@Html.Raw(BankBranch_List.BasicSearch.TypeNameShort)</span></button>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item@((BankBranch_List.BasicSearch.SessionType == "") ? " active" : "")" href="#" onclick="return ew.setSearchType(this);">@Html.Raw(Language.Phrase("QuickSearchAuto"))</a>
				<a class="dropdown-item@((BankBranch_List.BasicSearch.SessionType == "=") ? " active" : "")" href="#" onclick="return ew.setSearchType(this, '=');">@Html.Raw(Language.Phrase("QuickSearchExact"))</a>
				<a class="dropdown-item@((BankBranch_List.BasicSearch.SessionType == "AND") ? " active" : "")" href="#" onclick="return ew.setSearchType(this, 'AND');">@Html.Raw(Language.Phrase("QuickSearchAll"))</a>
				<a class="dropdown-item@((BankBranch_List.BasicSearch.SessionType == "OR") ? " active" : "")" href="#" onclick="return ew.setSearchType(this, 'OR');">@Html.Raw(Language.Phrase("QuickSearchAny"))</a>
			</div>
		</div>
	</div>
</div>
	</div><!-- /.ew-extended-search -->
</div><!-- /.ew-search-panel -->
</form>
} @* Show search form (end) *@
@BankBranch_List.ShowPageHeader()
@BankBranch_List.ShowMessages()
@if (BankBranch_List.TotalRecords > 0 || !Empty(BankBranch.CurrentAction)) {
<div class="card ew-card ew-grid@(BankBranch_List.IsAddOrEdit ? " ew-grid-add-edit" : "") BankBranch">
<form name="fBankBranchlist" id="fBankBranchlist" class="form-inline ew-form ew-list-form" action="@AppPath(CurrentPageName())" method="post">
@if (BankBranch_List.CheckToken) {
	@Html.AntiForgeryToken()
}
<div id="gmp_BankBranch" class="@ResponsiveTableClass() card-body ew-grid-middle-panel">
@if (BankBranch_List.TotalRecords > 0 || BankBranch_List.IsGridEdit) {
<table id="tbl_BankBranchlist" class="table ew-table"><!-- .ew-table -->
<thead>
	<tr class="ew-table-header">
@{

	// Header row
	BankBranch.RowType = Config.RowTypeHeader;

	// Render list options
	await BankBranch_List.RenderListOptions();

	// Render list options (header, left)
	BankBranch_List.ListOptions.Render("header", "left");
}
@if (BankBranch_List.Id.Visible) { // BankBranch_List.Id.Visible (begin)
	if (BankBranch_List.SortUrl(BankBranch_List.Id) == "") {
		<th data-name="Id" class="@(BankBranch_List.Id.HeaderCellClass)"><div id="elh_BankBranch_Id" class="BankBranch_Id"><div class="ew-table-header-caption">@Html.Raw(BankBranch_List.Id.Caption)</div></div></th>
	} else {
		<th data-name="Id" class="@(BankBranch_List.Id.HeaderCellClass)"><div class="ew-pointer" onclick="ew.sort(event, '@Html.Raw(BankBranch_List.SortUrl(BankBranch_List.Id))', 1);"><div id="elh_BankBranch_Id" class="BankBranch_Id">
			<div class="ew-table-header-btn"><span class="ew-table-header-caption">@Html.Raw(BankBranch_List.Id.Caption)</span><span class="ew-table-header-sort">@if (BankBranch_List.Id.Sort == "ASC") {<i class="fas fa-sort-up"></i>} else if (BankBranch_List.Id.Sort == "DESC") {<i class="fas fa-sort-down"></i>}</span></div>
		</div></div></th>
	}
} @* BankBranch_List.Id.Visible (end) *@
@if (BankBranch_List._Name.Visible) { // BankBranch_List._Name.Visible (begin)
	if (BankBranch_List.SortUrl(BankBranch_List._Name) == "") {
		<th data-name="_Name" class="@(BankBranch_List._Name.HeaderCellClass)"><div id="elh_BankBranch__Name" class="BankBranch__Name"><div class="ew-table-header-caption">@Html.Raw(BankBranch_List._Name.Caption)</div></div></th>
	} else {
		<th data-name="_Name" class="@(BankBranch_List._Name.HeaderCellClass)"><div class="ew-pointer" onclick="ew.sort(event, '@Html.Raw(BankBranch_List.SortUrl(BankBranch_List._Name))', 1);"><div id="elh_BankBranch__Name" class="BankBranch__Name">
			<div class="ew-table-header-btn"><span class="ew-table-header-caption">@Html.Raw(BankBranch_List._Name.Caption)@Html.Raw(Language.Phrase("SrchLegend"))</span><span class="ew-table-header-sort">@if (BankBranch_List._Name.Sort == "ASC") {<i class="fas fa-sort-up"></i>} else if (BankBranch_List._Name.Sort == "DESC") {<i class="fas fa-sort-down"></i>}</span></div>
		</div></div></th>
	}
} @* BankBranch_List._Name.Visible (end) *@
@{

	// Render list options (header, right)
	BankBranch_List.ListOptions.Render("header", "right");
}
	</tr>
</thead>
<tbody>
@{ // Begin Code
if (BankBranch_List.ExportAll && BankBranch_List.IsExport()) {
	BankBranch_List.StopRecord = BankBranch_List.TotalRecords;
} else {

	// Set the last record to display
	if (BankBranch_List.TotalRecords > BankBranch_List.StartRecord + BankBranch_List.DisplayRecords - 1) {
		BankBranch_List.StopRecord = BankBranch_List.StartRecord + BankBranch_List.DisplayRecords - 1;
	} else {
		BankBranch_List.StopRecord = BankBranch_List.TotalRecords;
	}
}
if (BankBranch_List.Recordset != null && BankBranch_List.Recordset.HasRows) {
	if (!BankBranch_List.Connection.SelectOffset) { // DN
		for (int i = 1; i <= BankBranch_List.StartRecord - 1; i++) { // Move to first record
			if (await BankBranch_List.Recordset.ReadAsync()) {
				BankBranch_List.RecordCount++;
			}
		}
	} else {
		BankBranch_List.RecordCount = BankBranch_List.StartRecord - 1;
	}
} else if (!BankBranch_List.AllowAddDeleteRow && BankBranch_List.StopRecord == 0) {
	BankBranch_List.StopRecord = BankBranch_List.GridAddRowCount;
}

// Initialize aggregate
BankBranch.RowType = Config.RowTypeAggregateInit;
BankBranch_List.ResetAttributes();
await BankBranch_List.RenderRow();

// Output data rows
bool eof = (BankBranch_List.Recordset == null); // DN
while (BankBranch_List.RecordCount < BankBranch_List.StopRecord) { // Begin While
	if (!BankBranch_List.IsGridAdd && !eof) { // DN
		eof = !await BankBranch_List.Recordset.ReadAsync();
	}
	BankBranch_List.RecordCount++;
	if (BankBranch_List.RecordCount >= BankBranch_List.StartRecord) {
		BankBranch_List.RowCount++;

		// Set up key count
		BankBranch_List.KeyCount = ConvertToInt(BankBranch_List.RowIndex);

		// Init row class and style
		BankBranch_List.ResetAttributes();
		BankBranch_List.CssClass = "";
		if (BankBranch_List.IsGridAdd) {
		} else {
			await BankBranch_List.LoadRowValues(BankBranch_List.Recordset); // Load row values
		}
		BankBranch.RowType = Config.RowTypeView; // Render view

		// Set up row id / data-rowindex
		BankBranch_List.RowAttrs.Add("data-rowindex", Convert.ToString(BankBranch_List.RowCount));
		BankBranch_List.RowAttrs.Add("id", "r" + Convert.ToString(BankBranch_List.RowCount) + "_BankBranch");
		BankBranch_List.RowAttrs.Add("data-rowtype", Convert.ToString(BankBranch_List.RowType));

		// Render row
		await BankBranch_List.RenderRow();

		// Render list options
		await BankBranch_List.RenderListOptions();
	@:<tr @Html.Raw(BankBranch.RowAttributes)>
	@* Render list options (body, left) *@
	@BankBranch_List.ListOptions.RenderBody("left", BankBranch_List.RowCount)
	if (BankBranch_List.Id.Visible) { // BankBranch_List.Id.Visible (begin)
		<td data-name="Id" @Html.Raw(BankBranch_List.Id.CellAttributes)>
<span id="el@(BankBranch_List.RowCount)_BankBranch_Id">
<span @Html.Raw(BankBranch_List.Id.ViewAttributes)>@Html.Raw(BankBranch_List.Id.GetViewValue())</span>
</span>
</td>
	} @* BankBranch_List.Id.Visible (end) *@
	if (BankBranch_List._Name.Visible) { // BankBranch_List._Name.Visible (begin)
		<td data-name="_Name" @Html.Raw(BankBranch_List._Name.CellAttributes)>
<span id="el@(BankBranch_List.RowCount)_BankBranch__Name">
<span @Html.Raw(BankBranch_List._Name.ViewAttributes)>@Html.Raw(BankBranch_List._Name.GetViewValue())</span>
</span>
</td>
	} @* BankBranch_List._Name.Visible (end) *@
	@* Render list options (body, right) *@
	@BankBranch_List.ListOptions.RenderBody("right", BankBranch_List.RowCount)
	@:</tr>
	} @* End if *@
} @* End While *@
} @* End Code *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(BankBranch.CurrentAction)) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ BankBranch_List.CloseRecordset(); }
@if (!BankBranch_List.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!BankBranch_List.IsGridAdd) {
<form name="ew-pager-form" class="form-inline ew-form ew-pager-form" action="@AppPath(CurrentPageName())">
@Html.Raw(BankBranch_List.Pager.Render())
</form>
}
<div class="ew-list-other-options">
@BankBranch_List.OtherOptions.RenderBody("bottom")
</div>
<div class="clearfix"></div>
</div>
}
</div><!-- /.ew-grid -->
}
@if (BankBranch_List.TotalRecords <= 0 && Empty(BankBranch.CurrentAction)) { // Show other options
<div class="ew-list-other-options">
@BankBranch_List.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
<div class="clearfix"></div>
}
@BankBranch_List.ShowPageFooter()
@ShowDebugMessage()
@ElapsedTime()
@if (!BankBranch_List.IsExport()) {
<script>
loadjs.ready("load", function() {

	// Startup script
	// Write your table-specific startup script here
	// document.write("page loaded");

});
</script>
}